.allCounter {
    margin: 250px auto auto;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.counter {
    font-size: 70px;
    text-align: center;
    width: 394px;
    height: 200px;
    border-style: solid;
    border-color: deepskyblue;
}

.counterRed {
    color: red;
    font-size: 70px;
    text-align: center;
    width: 394px;
    height: 200px;
    border-style: solid;
    border-color: deepskyblue;
}

.inc {
    text-align: center;
    border-style: solid;
    border-color: deepskyblue;
    width: 194px;
    height: 88px;
}

.reset {
    text-align: center;
    border-style: solid;
    border-color: deepskyblue;
    width: 194px;
    height: 88px;
}

.buttonInc {
    margin: 10px auto;
    padding: 25px 70px;
    background-color: deepskyblue;
    border-color: deepskyblue;
}

.buttonRes {
    margin: 10px auto;
    padding: 25px 66px;
    background-color: darkorange;
    border-color: darkorange;
}

.buttonIncOff, buttonIncOff[disabled] {
    margin: 10px auto;
    padding: 25px 70px;
    cursor: not-allowed;
    background-color: grey !important;
    pointer-events: none;
    border-color: grey;
}

.buttonResOff {
    margin: 10px auto;
    padding: 25px 66px;
    cursor: not-allowed;
    background-color: grey !important;
    pointer-events: none;
    border-color: grey;
}

